<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>一覧</title>
    <script source="./index.js"></script>
  </head>
  <body>
    <script source="../bundle.js"></script>
    <script type="text/javascript">
    </script>
    <button 
      form=""
      onclick="javascript:location.href = 'http://localhost:8080/new';">
      新規作成
    </button>

    <!--
    <form name="form1">
      PREF_CD:<input type="text" name="txtPrefCd" id="txtPrefCd">　
      PREF_NAME:<input type="text" name="txtPrefName" id="txtPrefName">
      <input type="button" name="btnInsert" id="btnInsert" value="追加">
      <input type="button" name="btnUpdate" id="btnUpdate" value="更新">
      <input type="button" name="btnDelete" id="btnDelete" value="削除">
    </form>
    -->
  </body>
</html>
