<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1 id="h1"><%= title %></h1>
  </header>
  <table id="authorstable" border='1'>
    <tr id="header">
      <tr><td>名称</td><td>年齢</td><td> </td><td> </td></tr>
    </tr>
     <tr>
       <form action="./authorshow" method="post">
         <td><input type="text" name="name" size="100%" value="<%= name %>"/></td>
         <td><input type="text" name="age" value="<%= age %>"/></td>
         <td><input type="submit" value="登録"></td>
         <td><input type="button" onclick="location.href='http://localhost:3939/authorindex'" value="キャンセル"></td>
      </form>
    </tr>
  </table>
</body>

</html>

