<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1 id="h1"><%= title %></h1>
  </header>
  <form action="./bookshow" method="post">
    <label class="editTitle">区分: </label>
    <select id="book_kind_input" name="book_kind">
      <option value="0">不明</option>
      <option value="1">ハードカバー</option>
      <option value="2">文庫</option>
      <option value="3">その他</option>
    </select>
    <label class="editTitle">作者: </label>
    <select id="author_id_input" name="author_id">
      <% for(var i=0; i<authors.length; i++){ %>
      <option value="<%= authors[i].id %>"><%= authors[i].name %></option>
      <% } %>
    </select>
    <label class="editTitle">タイトル: </label>
    <input type="text" name="title" size="50%" value=""/>
    <input type="submit" value="登録">
    <input type="button" onclick="location.href='http://localhost:3939/bookindex'" value="キャンセル">
  </form>
</body>
</html>

