<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= message %></title>
  <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1 id="h1"><%= message %></h1>
  </header>
  <div>
    <input type="button" onclick="location.href='http://localhost:3939/bookindex'" value="書籍一覧へ">
    <input type="button" onclick="location.href='http://localhost:3939'" value="トップへ">
  </div>
</body>

</html>
